 <div id="top" class="sg-header sg-container">
   <h1 class="sg-logo">STYLE GUIDE <span>BOILERPLATE</span></h1>
   <!-- <form id="js-sg-nav" action=""  method="post" class="sg-nav">
     <select id="js-sg-section-switcher" class="sg-section-switcher" name="sg_section_switcher">
         <option value="">Jump To Section:</option>
         <optgroup label="Intro">
           <option value="#sg-about">About</option>
           <option value="#sg-colors">Colors</option>
           <option value="#sg-fontStacks">Font-Stacks</option>
         </optgroup>
         <optgroup label="Base Styles">
           <%= @basefiles.each do |file| %>
           <option value="#<%=filename(file) %>"><%= filename(file)%></option>
           <% end %>
         </optgroup>
         <optgroup label="Pattern Styles">
           <%= @patternfiles.each do |file| %>
           <option value="#<%=filename(file) %>"><%=filename(file) %></option>
           <% end %>
         </optgroup>
     </select>
     <input type="hidden" name="sg_uri" value= "">
     <button type="submit" class="sg-submit-btn">Go</button>
   </form><!/.sg-nav--> 
 </div><!--/.sg-header-->

 <div class="sg-body sg-container">
   <div class="sg-info">               
     <div class="sg-about sg-section">
       <h2 class="sg-h2"><a id="sg-about" class="sg-anchor">About</a></h2>
       <p>Comments and documentation about your style guide. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus nobis enim labore facilis consequuntur! Veritatis neque est suscipit tenetur temporibus enim consequatur deserunt perferendis. Neque nemo iusto minima deserunt amet.</p>
     </div><!--/.sg-about-->
    
     <div class="sg-colors sg-section">
       <h2 class="sg-h2"><a id="sg-colors" class="sg-anchor">Colors</a></h2>
         <div class="sg-color sg-color--a"><span class="sg-color-swatch"><span class="sg-animated">#88ffda</span></span></div>
         <div class="sg-color sg-color--b"><span class="sg-color-swatch"><span class="sg-animated">#4dd3c9</span></span></div>
         <div class="sg-color sg-color--c"><span class="sg-color-swatch"><span class="sg-animated">#339db0</span></span></div>
         <div class="sg-color sg-color--d"><span class="sg-color-swatch"><span class="sg-animated">#2078aa</span></span></div>
         <div class="sg-color sg-color--e"><span class="sg-color-swatch"><span class="sg-animated">#3a517a</span></span></div>
         <div class="sg-color sg-color--f"><span class="sg-color-swatch"><span class="sg-animated">#384355</span></span></div>
         <div class="sg-markup-controls"><a class="sg-btn--top" href="#top">Back to Top</a></div>
     </div><!--/.sg-colors-->
    
     <div class="sg-font-stacks sg-section">
       <h2 class="sg-h2"><a id="sg-fontStacks" class="sg-anchor">Font Stacks</a></h2>
       <p class="sg-font sg-font-primary">"HelveticaNeue", "Helvetica", Arial, sans-serif;</p>
       <p class="sg-font sg-font-secondary">Georgia, Times, "Times New Roman", serif;</p>
       <div class="sg-markup-controls"><a class="sg-btn--top" href="#top">Back to Top</a></div>
     </div><!--/.sg-font-stacks-->
   </div><!--/.sg-info-->    

   <div class="sg-base-styles">    
     <h1 class="sg-h1">Base Styles</h1>
     <% @basefiles.each do |element| %>
       <div class="sg-markup sg-section">
       <div class="sg-display">
       <h2 class="sg-h2"><a id="sg-<%= filename(element) %>." class="sg-anchor"><%= title(element) %></a></h2>
       <% unless base_docs(element).empty?%>
         <div class="sg-doc">
         <h3 class="sg-h3">Usage</h3>
         <%= base_docs(element).html_safe%>
       </div>
       <% end %>
       <h3 class="sg-h3">Example</h3>
       <%= base_markup(element).html_safe%>
       </div>
       <div class="sg-markup-controls"><a class="sg-btn sg-btn--source" href="#">View Source</a> <a class="sg-btn--top" href="#top">Back to Top</a> </div>
       <div class="sg-source sg-animated">
       <a class="sg-btn sg-btn--select" href="#">Copy Source</a>
       <pre class="prettyprint linenums"><code>
       <%= base_markup(element) %>
       </code></pre>
       </div>
       </div>
       <% end %>
   </div><!--/.sg-base-styles-->

   <div class="sg-pattern-styles">
     <h1 class="sg-h1">Pattern Styles<small> - Design and mark-up patterns unique to your site.</small></h1>
    <% @patternfiles.each do |element| %>
      <div class="sg-markup sg-section">
      <div class="sg-display">
      <h2 class="sg-h2"><a id="sg-<%= filename(element) %>." class="sg-anchor"><%= title(element) %></a></h2>
      <% unless pattern_docs(element).empty?%>
        <div class="sg-doc">
        <h3 class="sg-h3">Usage</h3>
        <%= pattern_docs(element).html_safe%>
      </div>
      <% end %>
      <h3 class="sg-h3">Example</h3>
      <%= pattern_markup(element).html_safe%>
      </div>
      <div class="sg-markup-controls"><a class="sg-btn sg-btn--source" href="#">View Source</a> <a class="sg-btn--top" href="#top">Back to Top</a> </div>
      <div class="sg-source sg-animated">
      <a class="sg-btn sg-btn--select" href="#">Copy Source</a>
      <pre class="prettyprint linenums"><code>
      <%= pattern_markup(element) %>
      </code></pre>
      </div>
      </div>
      <% end %>
     </div><!--/.sg-pattern-styles-->
   </div><!--/.sg-body-->

