<!DOCTYPE html>
<head>
<meta charset="utf-8">
  <title>Style Guide Boilerplate</title>
  <meta name="viewport" content="width=device-width">
  
  
  <!-- Style Guide Boilerplate Styles And Scripts -->
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'style_guides', media: 'all', 'data-turbolinks-track' => true %>
  
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

  <!-- Replace below stylesheet with your own stylesheet -->
  <%= stylesheet_link_tag    'style', media: 'all', 'data-turbolinks-track' => true %>
</head>
<body>
    
<%= yield %>

</body>
  <%= javascript_include_tag 'style_guides_plugins', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'style_guides', 'data-turbolinks-track' => true %>
</html>
 